body {
  background-color: black;
  color: white;
}

h1 {
  font-size: 5em;
  margin-bottom: 0;
  margin-top: 0;
}

@media screen and (max-width:  650px) {
  h1 {
    font-size:  3em;
  }
}

li a {
  font-size: 1.2em;
}

a {
  color: white !important;
  transition: text-shadow .3s;
}

a:hover {
  text-shadow: 0 0 .65px #fff, 0 0 .65px #fff;
  /* use the line below if you want a more intense effect */
  /* text-shadow: 0 0 .9px #333, 0 0 .9px #333, 0 0 .9px #333; */
}

.App {
  text-align: left;
  margin-left: 30px;
}

.App-link {
  color: #61dafb;
}

hr {
  margin-left: 0;
  max-width: 200px;
}

p {
  max-width: 666px;
  font-size: 1.2em;
  margin-right:  30px;
}

.godLink {
  margin-bottom: 0;
}

.godDescription {
  margin-top: 8px;
}

